body{
    
    font-family: 'montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'montserrat', sans-serif;
   
    line-height: 1.5;
    font-weight: bold;
}

p{
    color: #afafaf;
}
#TinDog{
    color: #f5f5f5;
    margin-left: 10%;
    font-family: 'ubuntu', sans-serif;
    font-size: 5rem;
    font-weight: bold;
}
/* Headings */
.title-text{
    font-size: 4rem;
    text-align: left;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.tut{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 20px;
}

/* Title */
#title{
    background-color: #ff4c68;
    color: #fff;
    padding: 3%;
}
#tyt{
    margin-top: 200px;
}

/* containers */
.container-fluid{
    padding: 3% 4%;
}



/* Navigation */
#navigate1{
    background-color: #ff4c68;
}



#navbarTogglerDemo01{
    margin-right: 30%;
}
.navbar{
    padding-bottom: 0 0 4.5rem;
}
.nav-item{
    padding: 0 30px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter ;
}
/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}
/* Title image */
.title-image{
    position: absolute;
    top: 300px;
    width: 20%;
    transform: rotate(20deg);
    z-index: 0;
    
}
/* Features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}
.feature-title{
    font-size: 1.5rem;
}

.dude{
    color: #ef8172;
    margin-bottom: 15px;
}
.dude:hover{
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
    
    background-color: #ff4c68;
    color: #fff;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.dog-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px 20px;
}
/* press */
#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
    
}
.image2{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* Pricing */
#pricing{
    padding: 100px;
}


.pricing-column{
    padding: 3% 2%;
}
/* Media query */
@media(max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
/* Call to action */
#cta{
    background-color: #ff4c68;
    
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    padding: 7% 15%;
    color: #eee;
}
.fyi{
    font-size: 3rem;
}
/* footer */
#footer{
    
    padding: 7% 2% 1%;
}
.fty{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}